/* SWITCH */
@media only screen and (max-width:767px) {
    #mobileMenu { display:block; } 
    #desktopMenu { display:none; }
}
@media only screen and (min-width:768px) {
    #mobileMenu { display:none; } 
    #desktopMenu { display:block; }
}
@media only screen and (min-width:820px) {
    body #desktopMenu #logo { width:87% !important; }
}
@media only screen and (min-width:1024px) {
    body #desktopMenu #logo { width:88% !important; }
}
@media only screen and (min-width:1280px) {
    body #desktopMenu #logo { width:90% !important; }
}


/* DESKTOP */
body #desktopMenu #logo { width:85%; }
body #desktopMenu #logo img { width:30%; height:auto; } 
body #header #desktopMenu .nav-link { padding-left:0.25em; padding-right:0.25em; color:#575151; }
body #header #desktopMenu .textlink { padding-top: 30px; display: inline-block; }

/* MOBILE */
body #mobileMenu #logo { width:30%; display:inline-block;}
body #mobileMenu #logo img { width:50%; height:auto;}
body #mobileContainer { color:#575151; }
body #mobileMenu .nav-link { font-size:1.2em; padding-right:5%; }