/* navigation */
.navWide, .navNarrow .narrowLinks, , .Home_content { display: none; }
.Mobile_header { display:block;}
.Mobile_header h2, .Mobile_header h3 { color:#3e3c38; }
.navNarrow i { float: left; }
.navNarrow  a { display: block;  float: left;  clear: left; }
nav a {  padding:0 5px; font-size:14px; }
@media (min-width: 768px) {
  .navWide { display: block; }
  .navNarrow {  display: none; }
  .Mobile_header { display: none; } 
  .Home_content { display:block;}
}

/* framework */
.half { width:50%; }
.full { width:100%; }
.floatleft { float:left; }
.floatright { float:right; }
html { overflow-y:scroll; }
a, a:visited, a:hover { color:#fff; text-decoration: none; }
body { background:#8e8e8e; }
header, main h2, main h3, .contact_page,  footer {  text-align:center; }
main { margin:50px 0 10px 0; padding:0 0 10px 0; }
main h2, main h3 { color:#3e3c38; }
footer { position: fixed; bottom: 0px; width:100%; } 
header { margin:20px 0 0 0; }
footer span { font-size:10px; color:#fff; }

/*indiv */
.Home_content { min-height: 500px; }
li { list-style-type: none; font-size:12px; color:#3e3c38; }
h5 { color:#3e3c38; }
.about_page { width:1000px; margin:0 auto; }
.work_page_thumbnails { width: 360px; margin:0 auto; }
.work_page_thumbnails li { float:left; display:inline-block; margin:20px 20px 0 0; }
.half.floatleft.img  img{ width:50%; margin:0 auto; }
.contact_page a, .project_name, .client_name, .project_description { color:#3e3c38; }
.floatleft.desc { margin-left: 2%; width:48%; }
.project_name { display: block;  font-size:13px; }
.client_name  { display: block; font-size:15px; font-weight:bold;}
.project_description  { display: block; font-size:12px; width:35%; margin-top:20px; }
@media (max-width: 767px) {
  .navNarrowBtn { cursor: pointer; color:#fff; text-align: left; float:left; margin:10px; }
  .navNarrow { width: 100%; display:block; }
  nav, .narrowLinks { display:block; width: 100%; }
  .about_page h5, .about_page li { font-size:8px; }
  header, main, footer { float:left; clear:both; }
  .Work_page .img, .Work_page .desc { width: 100%; float:left; clear:both;}
  .half.floatleft.img  img, .floatleft.desc { width: 100%; }
  .floatleft.desc { margin-top:50px; }
  .project_description { width: 90%; }
  .about_page { width: 100%; }
}