
body .col { padding:0 !important; margin:15px 0px 0px 15px !important}
body .row { padding-left:15px !important; }

@media only screen and (max-width:767px) {
   main img, main .col { width:90vw !important; height: auto !important; }
   body .row > div { min-width: 100vw !important; max-height:50vh; overflow:hidden; margin-bottom:15px; }
   
}
@media only screen and (min-width:768px) {
    .work_page_thumbnails_container{ overflow:hidden; height:25vh; margin-top:15px; }
    body .row { margin-right:15px;}
    .projdesc { margin-top:15px; }
}

body .projdesc { padding:15px; background:#ebe9e9; }
body .projdesc p { white-space: pre-wrap; }
body .projImg  { width:100%; margin-top:15px; }
.work_page { background: #e9ecef; padding: 20px 0; }
.workThumb img:hover { background-color:black; opacity: 0.3; }
